<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>Vditor 官网仿真 Demo</title>
    <!-- Vditor 样式 -->
    <link rel="stylesheet" href="https://unpkg.com/vditor/dist/index.css" />
    <!-- 自定义字体 -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+SC&display=swap" />
</head>
<body>

<div class="editor-container">
    <div id="vditor" class="vditor vditor--fullscreen"></div>
    <button onclick="saveContent()" style="position:fixed;bottom:10px;right:10px;z-index:999;">保存</button>
</div>

<script>
    let preContent = "";

    window.getMarkdownContent = () => {
        return vditor.getValue();
    };

    function saveContent() {
        const content = getMarkdownContent();
        if (content === preContent) {
            return;
        }
        // 发送给 Java 层
        window.javaBridge?.postMessage(content);
    }
    /*
    // 开启定时调度器, 定时保存内容
    let timer = setInterval(() => {
        saveContent();
    }, 1000 * 10); // 10 s保存一次

    function clearTimer() {
        clearInterval(timer);
        timer = null;
    }
     */

</script>

<!-- Vditor JS -->
<script src="https://unpkg.com/vditor/dist/index.min.js"></script>
<script>
    const vditor = new Vditor('vditor', {
        mode: 'wysiwyg', // 初始为所见即所得
        outline: {
            position: 'left', // 展示在左边
        },
        toolbarConfig: {
            hide: true,
            pin: true,
        },
        theme: "{{theme}}",
        toolbar: [
            'headings', 'bold', 'italic', 'strike', '|',
            'list', 'ordered-list', 'check', '|',
            'quote', 'line', 'code', 'inline-code', '|',
            'table', 'link', 'image', 'emoji', '|',
            'undo', 'redo', '|',
            'outline', 'edit-mode', 'both', 'fullscreen',
        ],
        cache: { enable: false },
        counter: {
            enable: true,
            type: 'text'
        },
        value: `{{value}}`,
    });
</script>

</body>
{{css}}
</html>
